<form [formGroup] = productForm>
  <div class="row">
    <div class="col-6 offset-sm-3">
      <div class="text-center">
        <h3>Edit Product</h3>
      </div>
      <div class="form-group">
        <label for="">ID Category: {{productForm.value.categoryId}}</label>
      </div>
      <div class="form-group">
        <label for="">ID Product: {{productForm.value.id}}</label>
      </div>
      <div class="form-group">
        <label for="">Product Name</label>
        <input type="text" formControlName="name" class="form-control">
      </div>
      <div class="form-group">
        <label for="">Image</label><br>
        <!--        <div *ngIf="!category.value.image">-->
        <!--          <a href="https://placeholder.com/"><img src=" https://via.placeholder.com/150" alt=""></a>-->
        <!--        </div>-->
        <img [src]="productForm.value.image" alt="" width="640px" height="480px" class="img-fluid">
      </div>
      <div class="form-group">
        <label for="">Image Address</label>
        <input type="text" formControlName="image" class="form-control">
      </div>
      <div class="form-group">
        <label for="">Price</label>
        <input type="text" formControlName="price" class="form-control">
      </div>
      <div class="form-group">
        <label for="">Amount</label>
        <input type="text" formControlName="amount" class="form-control">
      </div>
      <div class="form-group">
        <label for="">Status</label>
        <input type="text" formControlName="status" class="form-control">
      </div>
      <div class="text-center">
        <button class="btn btn-success btn-sm" (click)="updateProduct()">Save Changes</button>&nbsp;
        <a routerLink="/{{categoryId}}/products" class="btn btn-danger btn-sm">Cancel</a>
      </div>
    </div>
  </div>
</form>
{{productForm.value}}

