/*	Reset & General
---------------------------------------------------------------------- */
* { margin: 0px; padding: 0px; }
body {
  background: #8ceff5;
  font:14px "Open Sans", sans-serif;
  text-align:center;
}

.container-fluid {
  width: 70%;
  margin: 0 auto;

}
.card {
  width: 100%;
}
.product {
  background:#f7f8fa;
  padding: 5px;
  margin: 5px;
}
.stats strong{
  display:block;
  color:#adb8c2;
  font-size:11px;
  font-weight:700;
}
.stats{
  border-top:1px solid #ebeff2;
  background:#f7f8fa;
  overflow:auto;
  padding:15px 0;
  font-size:16px;
  color:#59687f;
  font-weight:600;
  border-radius: 0 0 5px 5px;
}
.stats div{
  border-right:1px solid #babec1;
  float:left;
  text-align:center
}

.cate-id {
  font-size: 30px;
}
.stats .id {
  width: 10%;
}
.stats .name {
  width: 30%;
}
.stats .address {
  width: 60%;
}

.add-new {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
header{
  background-color: #a1fff7;
  padding: 20px;
}
.btn-lg-custom{
  padding: 4px;
  /*margin-left: 20px;*/
  margin-top: 20px;
}
