<header>
  <div class="add-new">
    <a routerLink="/add" class="btn btn-add-custom">Add New Category</a>
  </div>
</header>
<div class="modal fade " id="smallmodal" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-center-custom" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title text-success" id="smallmodalLabel"><i class="fa fa-check-circle"></i>Delete success</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
         Deleted!
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="card">
      <div class="card-header bg-dark text-light">
        List Categories
      </div>
      <div class="card-body">
        <div class="row product" *ngFor="let category of categories">
          <div class="col-2 text-center img-avatar">
            <img class="img-thumbnail-custom" [src]="category.image" alt="prewiew" width="120" height="80">
          </div>
          <div class="col-8 text-sm-center text-md-left">
            <div class="stats">
              <div class="id">
                <strong>ID</strong>{{category.id}}
              </div>
              <div class="name">
                <strong>Name</strong>{{category.name}}
              </div>
              <div class="address">
                <strong>ADDRESS</strong>{{category.address}}
              </div>
            </div>
          </div>
            <div class="col-2 text-sm-center row">
              <div class="col-4  text-center">
                <a routerLink="{{category.id}}/edit" class="btn btn-outline-primary btn-lg btn-lg-custom"><i class="fa fa-edit"></i></a>
              </div>
              <div class="col-4  text-center">
                <a routerLink="{{category.id}}/products" class="btn btn-outline-success btn-lg btn-lg-custom"><i class="fa fa-eye" aria-hidden="true"></i></a>
              </div>
              <div class="col-4 text-center">
                <button type="button" class="btn btn-outline-danger btn-lg btn-lg-custom" (click)="removeCategory(category)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </div>
            </div>
        </div>
        <hr>
      </div>
      <div class="card-footer">Lorem ipsum dolor sit amet, consectetur.</div>
    </div>
  </div>
</div>
